<% include ../partials/header %>
<div class="row">
    <div class="container">
        <div class="col-md-8">
            <div class="card card-block">
                <h2 class="card-title" style="text-align: center;font-weight: 700;"><%= service.title %></h2>
                <img class="card-img-top" src="https://static.pexels.com/photos/9416/light-car-display-shop-large.jpg" alt="Card image cap">
            </div>
            <div class="card">
                <div class="card-header" style="text-align: center;font-weight: 700;">About This Gig</div>
                <p class="card-text margin-card-text" style="margin-bottom: 25px; line-height: 30px;"><%= service.description %></p>
            </div>
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-star 2x" aria-hidden="true"></i>
                    <i class="fa fa-star 2x" aria-hidden="true"></i>
                    <i class="fa fa-star 2x" aria-hidden="true"></i>
                    <i class="fa fa-star 2x" aria-hidden="true"></i>
                    <i class="fa fa-star-half" aria-hidden="true"></i>
                    &nbsp;4.7 Out Of 1145 Reviews
                </div>
                <div class="card-block">
                    <h4 class="card-title" style="text-align: center; font-weight: bold;">Buyer Ratings</h4>
                    <hr>
                    <div class="buyer-rating">
                        <img src="https://pixabay.com/static/uploads/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png" alt="user" class="img-thumbnail" style="height:64px; width:auto;">
                        <span class="buyer-rating-username" style="vertical-align: top; font-weight: bold;">&nbsp;Joe12&nbsp;</span>
                        <span class="buyer-rating-stars">
                            <i class="fa fa-star 2x top-star" aria-hidden="true"></i>
                            <i class="fa fa-star 2x top-star" aria-hidden="true"></i>
                            <i class="fa fa-star 2x top-star" aria-hidden="true"></i>
                            <i class="fa fa-star 2x top-star" aria-hidden="true"></i>
                        </span>
                        <div class="post-body">
                            <p>Thanks! Good article and metrics as advised, even a bit stronger. Next order already placed.</p>
                        </div>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card card-block">
                <button class="btn btn-success btn-block">Buy Now For $<%= service.price %></button>
            </div>
            <div class="card card-block">
                <div class="row">
                    <div class="col-sm-6">
                        <img alt="usernam" class="avatar" src="https://pixabay.com/static/uploads/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png">
                    </div>
                    <div class="col-sm-6">
                        <a href="/user/<%= user.username %>"><div class="username-show" style="margin-top: 25%;"><%= user.username %></div></a>
                        <div class="seller-level">New Seller</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <hr>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <button type="button" class="btn btn-primary-outline btn-block" style="text-align: center;">Add To Favorites</button>
                        <div class="user-rating" style="margin-top: 10%; margin-bottom: 10%;">
                            <i class="fa fa-star 2x" aria-hidden="true"></i>
                            <i class="fa fa-star 2x" aria-hidden="true"></i>
                            <i class="fa fa-star 2x" aria-hidden="true"></i>
                            <i class="fa fa-star 2x" aria-hidden="true"></i>
                            <i class="fa fa-star-half" aria-hidden="true"></i><br>
                            4.6 of 5 Stars 115 Ratings
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-5">
                        <button type="button" class="btn btn-secondary">Refund Policy</button>
                    </div>
                    <div class="col-xs-5">
                        <button type="button" class="btn btn-secondary">Report As Spam</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <p style="font-weight: bold; text-align: center; margin-top: 10%; margin-bottom: 5%;">Have Any Questions?</p>
                        <button type="button" class="btn btn-primary-outline btn-block" style="text-align: center; margin-bottom: 15%;">Message Seller</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<% include ../partials/footer %>